*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.username-page{
    background-image: url("Assets/Third\ screen\ \(2\).png");
    background-size: cover;
    height: 742px;
    padding-left: 23%;
    padding-top: 5%;
}

.username-popup{
    background-color: rgb(69, 68, 68);
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 10%;
    color: white;
}

.username-popup{
    font-size: 2em;
}

#name{
    margin-top: 10%;
}
#username{
    margin-top: 15px;
}

.username-popup input{
    height: 40px;
    width: 400px;
    padding-left: 20px;
    border-radius: 50px;
    border: 0px;
}

.enter-button{
    color: rgb(0, 0, 0);
    font-size: .7em;
    width: 35%;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    margin-top: 5%;
    border: 0px;
}
.enter-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgb(92, 87, 87);
    transition: background-color 0.3s, color 0.3s , box-shadow 0.3s;
}

.dinohead{
    display: none;
    margin-top: 3%;
    font-size: 2.5em;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

.score{
    margin-right: 10%;
    margin-top: 6%;
    font-size: 2em;
    display: flex;
}
.scrtext{
    display: flex;
    margin-right: 20px;
    height: fit-content;
}

.scorenumber{
    margin-left: 1%;
}


@keyframes sun{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.sun{
    margin-left: 6%;
    margin-top: 3%;
    transform: rotate(360deg);
    animation: sun 2s linear infinite;
}

.clouds{
    margin-left: 4%;
    margin-top: 2%;
}

.dino-image{
    width: 160px;
    height: 135px;
    background-size: contain;
    margin-left: 10%;
    margin-top: 8.5%;
    background-image: url("https://geekanant.gallerycdn.vsassets.io/extensions/geekanant/chrome-dinosaur-game/0.0.1/1638086697139/Microsoft.VisualStudio.Services.Icons.Default");
    position: relative;
    top: 10px;
    transition: transform 0.8s; 
}

.jump {
    transform: translateY(-100px); 
  }

.thingsontheground{
    display: flex;
}

.obstacles {
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 20%;
    top: 75%;
  }

.groundline{
    position: relative;
    bottom: 6px;
}

.grounddots{
    margin-top: 1%;
}

@keyframes righttoleft{
    0% {
        transform: translateX(100%);
      }
    50%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }   
}
.grounddots{
    animation: righttoleft 4s infinite linear;
}

.clouds{
    animation: righttoleft 20s infinite linear;
}


@media all and (max-width : 400px){
    .dino-image{
        width: 90px;
        margin-left: 10%;
        margin-top: 16.5%;
        position: relative;
        top: 30px;
    }
    .dinohead{
        display: block;
    }
    .clouds{
        margin-top: 10%;
        width: 150%;
    }
    .sun{
        margin-top: 40%;
        width: 100px;
    }
    .score{
        margin-right: 5%;
        margin-top: 20%;
        font-size: 1em;
        display: flex;
    }
    .scrtext{
        display: flex;
        margin-right: 7px;
        height: fit-content;
    }
}