body{
    overflow: hidden;
}

.gameover-message{
    background-color: #D9D9D9;
    width: max-content;
    text-align: center;
    padding: 4%;
    margin-top: 3%;
    margin-left: 15%;
}

.textsinsidethepopup{
    font-size: 2.5em;
    line-height: 150%;
}

.scores{
    margin-left: 34%;
    line-height: 140%;
    background-color: black;
    width: max-content;
    color: #FFFFFF;
    padding:4%;
    font-size: 1.5em;
    border-radius: 10px;
}

#play-again-button{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    width: 20%;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    margin-top: 5%;
    border: 0px;
}

#play-again-button:hover{
    background-color: black;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 4px rgb(77, 77, 77);
}

@media all and (max-width : 400px){
    .gameover-message{
        background-color: #D9D9D9;
        width: max-content;
        text-align: center;
        padding: 0%;
        padding-top: 35%;
        margin-top: 3%;
        margin-left: 0%;
    }
    body{
        background-color: #D9D9D9;
    }
    .textsinsidethepopup{
        font-size: 1em;
        line-height: 150%;
    }
    .scores{
        margin-top: 15%;
        margin-left: 25%;
        line-height: 140%;
        background-color: black;
        width: max-content;
        color: #FFFFFF;
        padding:4%;
        font-size: 1em;
        border-radius: 10px;
        box-shadow: rgb(105, 102, 102) 2px 2px 4px
    }
    #play-again-button{
        color: rgb(0, 0, 0);
        font-size: 1.2em;
        width: 150px;
        border-radius: 5px;
        height: 40px;
        font-weight: bold;
        margin-top: 15%;
        border: 0px;
    }
}