/* FIRST PAGE */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #808080;
    text-align: center;
    font-family: 'roboto';
    overflow: hidden;
}

.main-head{
    margin-top: 4.5%;
    font-size: 5em;
}

nav{
    margin-top: 1%;
    display: flex;
    margin-left: 75%;
}

nav a{
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    padding: 1em;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-shadow: 3px 3px 2px rgb(48, 48, 48);
    transition: text-shadow 0.3s;
}

.start-game{
    margin-top: 4.5%;
    border: 0px;
    border-radius: 6px;
    width: 180px;
    height: 50px;
    background-color: #D9D9D9;
    font-weight: bold;
    font-size: 1.2em;
    color: #000000;
}

.start-game:hover{
    /* background-color: rgb(0, 0, 0); */
    /* color: white; */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s , box-shadow 0.3s;
    box-shadow: #000000 2px 3px 1px;
}

.big-dino{
    margin-top: 1%;
}



@media all and (max-width:700px){
    
    nav a{
        font-family: 'roboto', sans-serif;
        font-size: 1em;
        padding-top: 1em;
        padding-left: 0em;
        font-weight: bold;
        text-decoration: none;
    }
    nav{
        margin-top: 1%;
        display: flex;
        margin-left: 52%;
    }
    .main-head{
        margin-top: 30.5%;
    }
    .big-dino{
        margin-top: 25%;
    }
}